{% extends "global/base.html" %}

{% block content %}
    <div class="single-contact">
        <h1 class="single-contact-name">
            {{ contact.first_name }} {{ contact.last_name }}
        </h1>

        <p><strong>ID:</strong> {{ contact.id }} </p>
        <p><strong>Email:</strong> {{ contact.email }} </p>
        <p><strong>Phone:</strong> {{ contact.phone }} </p>
        <p><strong>Created Date:</strong> {{ contact.created_at }} </p>
        <p><strong>Description:</strong> {{ contact.description }} </p>
        <p><strong>Category:</strong> {{ contact.category.name }} </p>

        {% if contact.picture %}
            <p>
                <img src="{{ contact.picture.url }}" alt="">
            </p>
        {% endif %}

        <div class="contact-links">
            <a href="{% url 'contact:update' contact.id %}" class="btn btn-link">Update</a>

            <form action="{% url "contact:delete" contact.id %}" method="POST">
                {% csrf_token %}
                {% if confirmation == '0' %}
                    <input type="hidden" name="confirmation" value="1">
                    <button type="submit" class="btn btn-link btn-delete">Confirmar</button>
                {% else %}
                    <button type="submit" class="btn btn-link btn-delete">Delete</button>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock content %}